
.idea/

__pycache__/

*.csv

*.svg

*.log

*.dat

key

*.png

*.jpg

*.pickle

cuGraph_jupyter_notebooks/.ipynb_checkpoints/

readability_optimization/.ipynb_checkpoints/

*.dot

core.*

*.gexf

*.mat

*.email_instruction

*.slurm_instruction


*.tif

*.dzi

verify_optimized_params_output_*

readability_optimization/config.yaml

*.db

*.db-journal

*.out

readability_optimization/input_graphs/.ipynb_checkpoints/

.lock

*.params



readability_optimization/glam/

readability_optimization/singularity/
